*.o
*.obj
*.ko
*.elf

*.exe
*.out
*.app
*.a
*.lib
*.so
*.dylib
*.dll

*.pdb
*.idb
*.gch
*.pch
*.ilk
*.map
*.exp
*.su

cmake-build-*/
build*/
out/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
*-prefix/

.idea/
*.iml
*.iws
*.ipr

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store

CMakeLists.txt.user*
.vscode/
.cache/